<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Datos Empresas</title>
    <link rel="shortcut icon" type="image/x-icon" href="icono.png">
</head>
<body bgcolor="F1008F">
    <center>
        <h1  style="color: white;">
            "Bienvenido, aqui va a poder consultar y agregar elementos a la base de datos"
        </h1>
    </center>
    <center>
        <hr>
         <a href="agregarNacional"  style="color: rgb(10, 10, 10);">Click aqui para agregar empresas nacionales​</a>
         <hr>
        <br>
        <hr>
        <a href="consultarNacional"  style="color: rgb(10, 10, 10);">Click aqui para consultar empresas nacionales​</a>
        <hr>
        <br>
        <hr>
        <a href="consultarInternacional"  style="color: rgb(10, 10, 10);">Click aqui para consultar empresas internacionales​</a>
        <hr>
        <br>
        <hr>
        <a href="agregarInternacional"  style="color: rgb(10, 10, 10);">Click aqui para agregar empresas internacionales​</a>
        <hr>
        <br>
        <hr>
        <a href="consultarTodas"  style="color: rgb(10, 10, 10);">Click aqui para consultar todas las empresas​</a>
        <hr>
        <a href ></a>
    </center>
</body>
</html>